DATABASE_URL=postgres://fiapx:fiapx@postgres:5432/fiapx?sslmode=disable
REDIS_URL=redis://redis:6379/0
RABBITMQ_URL=amqp://fiapx:fiapx@rabbitmq:5672/
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=fiapx
MINIO_SECRET_KEY=fiapx123
MINIO_BUCKET_VIDEOS=videos
MINIO_BUCKET_RESULTS=results
JWT_SECRET=change-me
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASSWORD=
PORT=8080
