IDENTITY_POSTGRES_USER=fiapx
IDENTITY_POSTGRES_PASSWORD=fiapx
IDENTITY_POSTGRES_DB=fiapx_identity
IDENTITY_DATABASE_URL=postgres://fiapx:fiapx@postgres-identity:5432/fiapx_identity?sslmode=disable
VIDEO_POSTGRES_USER=fiapx
VIDEO_POSTGRES_PASSWORD=fiapx
VIDEO_POSTGRES_DB=fiapx_video
VIDEO_DATABASE_URL=postgres://fiapx:fiapx@postgres-video:5432/fiapx_video?sslmode=disable
REDIS_URL=redis://redis:6379/0
RABBITMQ_USER=fiapx
RABBITMQ_PASSWORD=fiapx
RABBITMQ_URL=amqp://fiapx:fiapx@rabbitmq:5672/
MINIO_ENDPOINT=minio:9000
MINIO_PUBLIC_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=fiapx
MINIO_SECRET_KEY=fiapx123
MINIO_BUCKET_VIDEOS=videos
MINIO_BUCKET_RESULTS=results
JWT_SECRET=change-me
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=no-reply@fiapx.local
FRONTEND_ORIGIN=http://localhost:3000
PORT=8080
IDENTITY_PORT=8081
