# Binaries
*.exe
*.dll
*.so
*.dylib
/bin/

# Go
*.test
*.out

# Runtime-generated directories (created by the app at startup/runtime)
/uploads/*
!/uploads/.gitkeep
/outputs/*
!/outputs/.gitkeep
/temp/*
!/temp/.gitkeep

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Env
.env
.env.local


# Test
testdata/